div(data-role="page", id="computersStore")
	include ../common	
	div(data-role="content", id="computersStoreContent")
				
		h3 Computers 
		ul(data-role="listview", id="laptopList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="laptopCategory()") Laptops

		ul(data-role="listview", id="desktopList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="desktopCategory()") Desktops

		ul(data-role="listview", id="ltabletList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="tabletCategory()") Tablets

		ul(data-role="listview", id="printerList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="printerCategory()") Printers

	


