div(data-role="page", id="electronicsStore")
	include ../common
	div(data-role="content", id="electronicsStoreContent")
		p Browse our wonderful selection of merchandise. Check out today's hot deals
		h3 Electronics 
		ul(data-role="listview", id="tvList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="generalCategory(\"electronics\",\"tv\")") TV 
		ul(data-role="listview", id="audioList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="generalCategory(\"electronics\",\"audio\")") Audio

		ul(data-role="listview", id="phoneList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="generalCategory(\"electronics\",\"phone\")") Phones

		ul(data-role="listview", id="cameraList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="generalCategory(\"electronics\",\"camera\")") Cameras 

		ul(data-role="listview", id="videoList", data-inset="true")
			li(data-role="list-divider", data-theme="a")
				a(onclick="generalCategory(\"electronics\",\"video\")") Video

div(data-role="page", id="tvCategory")				
			include ../common
			div(data-role="content")
				div(data-role="controlgroup", data-type="horizontal", id="tvCategoryNavigator") 	
					a(href="#", data-role="button") Electronics
					a(href="#", data-role="button") TV
				div(data-role="fieldcontain")
					select(name="SortOrder", id="sortOrder")
						optgroup(label="Price")
							option(value="highToLow") High to Low
							option(value="lowToHigh") Low to High
						optgroup(label="Brand")	
							option(value="alphabetical") Alphabetical order (Brand)
							option(value="revAlphabetical") Reverse Alphabetical (Brand)
						optgroup(label="Item Name")
							option(value="alphabetical") Alphabetical order (Item Name)
							option(value="revAlphabetical") Reverse Alphabetical (Item Name)		
				br			
				ul(data-role="listview", data-inset="true", data-filter="true", id="tvCategoryItemList", data-filter-placeholder="Filter items")

div(data-role="page", id="audioCategory")				
			include ../common
			div(data-role="content")
				div(data-role="controlgroup", data-type="horizontal", id="audioCategoryNavigator") 	
					a(href="#", data-role="button") Electronics
					a(href="#", data-role="button") Audio
				div(data-role="fieldcontain")
					select(name="SortOrder", id="sortOrder")
						optgroup(label="Price")
							option(value="highToLow") High to Low
							option(value="lowToHigh") Low to High
						optgroup(label="Brand")	
							option(value="alphabetical") Alphabetical order (Brand)
							option(value="revAlphabetical") Reverse Alphabetical (Brand)
						optgroup(label="Item Name")
							option(value="alphabetical") Alphabetical order (Item Name)
							option(value="revAlphabetical") Reverse Alphabetical (Item Name)		
				br			
				ul(data-role="listview", data-inset="true", data-filter="true", id="audioCategoryItemList", data-filter-placeholder="Filter items")

div(data-role="page", id="phoneCategory")				
			include ../common
			div(data-role="content")
				div(data-role="controlgroup", data-type="horizontal", id="phoneCategoryNavigator") 	
					a(href="#", data-role="button") Electronics
					a(href="#", data-role="button") Phones
				div(data-role="fieldcontain")
					select(name="SortOrder", id="sortOrder")
						optgroup(label="Price")
							option(value="highToLow") High to Low
							option(value="lowToHigh") Low to High
						optgroup(label="Brand")	
							option(value="alphabetical") Alphabetical order (Brand)
							option(value="revAlphabetical") Reverse Alphabetical (Brand)
						optgroup(label="Item Name")
							option(value="alphabetical") Alphabetical order (Item Name)
							option(value="revAlphabetical") Reverse Alphabetical (Item Name)		
				br			
				ul(data-role="listview", data-inset="true", data-filter="true", id="phoneCategoryItemList", data-filter-placeholder="Filter items")

div(data-role="page", id="cameraCategory")				
			include ../common
			div(data-role="content")
				div(data-role="controlgroup", data-type="horizontal", id="cameraCategoryNavigator") 	
					a(href="#", data-role="button") Electronics
					a(href="#", data-role="button") Cameras
				div(data-role="fieldcontain")
					select(name="SortOrder", id="sortOrder")
						optgroup(label="Price")
							option(value="highToLow") High to Low
							option(value="lowToHigh") Low to High
						optgroup(label="Brand")	
							option(value="alphabetical") Alphabetical order (Brand)
							option(value="revAlphabetical") Reverse Alphabetical (Brand)
						optgroup(label="Item Name")
							option(value="alphabetical") Alphabetical order (Item Name)
							option(value="revAlphabetical") Reverse Alphabetical (Item Name)		
				br			
				ul(data-role="listview", data-inset="true", data-filter="true", id="cameraCategoryItemList", data-filter-placeholder="Filter items")

div(data-role="page", id="videoCategory")				
			include ../common
			div(data-role="content")
				div(data-role="controlgroup", data-type="horizontal", id="videoCategoryNavigator") 	
					a(href="#", data-role="button") Electronics
					a(href="#", data-role="button") Videos
				div(data-role="fieldcontain")
					select(name="SortOrder", id="sortOrder")
						optgroup(label="Price")
							option(value="highToLow") High to Low
							option(value="lowToHigh") Low to High
						optgroup(label="Brand")	
							option(value="alphabetical") Alphabetical order (Brand)
							option(value="revAlphabetical") Reverse Alphabetical (Brand)
						optgroup(label="Item Name")
							option(value="alphabetical") Alphabetical order (Item Name)
							option(value="revAlphabetical") Reverse Alphabetical (Item Name)		
				br			
				ul(data-role="listview", data-inset="true", data-filter="true", id="videoCategoryItemList", data-filter-placeholder="Filter items")

